* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  width: 280px;
}
nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #615e5e;
}
.active {
  color: #00b39b;
}

/* about */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}
.about h2 {
  font-size: 1.8rem;
  color: #00b39b;
  margin-bottom: 50px;
}
.about img {
  width: 40px;
}

.about div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.services {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
}
.services article {
  width: 33%;
  padding: 2em;

  /* height: 350px; */
  border-radius: 20px;
  color: #fff;
}
.services article h3 {
  font-size: 28px;
}
.services article p {
  font-size: 18px;
  margin-bottom: 60px;
}

.patient,
.patient select {
  background-color: #00b39b;
}

.doctor,
.doctor select {
  background-color: #3d83df;
}
.doctor,
.doctor select {
  background-color: #3d83df;
}
.clinic,
.clinic select {
  background-color: #1b2734;
}

.services article select {
  border-style: none;
  color: #fff;
  font-size: 18px;
}
.clients {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 60px 60px;
}
.clients p {
  color: #00b39b;
  font-size: 24px;
}
/* .clients article {
  width: 40px;
} */
.clients div {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.clients div img {
  width: 7em;
}
.imgedit {
  width: 12%;
}
.world {
  padding-top: 50px;
  padding-bottom: 0px;
  background: #d0faf4;
}

.world_row {
  display: flex;
}
.world_row h3 {
  font-size: 30px;
  color: #00b39b;
  margin-bottom: 24px;
}
.world_row p {
  color: #333;
  margin-bottom: 32px;
}
.world_row article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  width: 220px;
  border-radius: 2px;
  padding: 10px;
  gap: 20px;
}
.worldblocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr1fr;
  gap: 30px;
  margin-right: 50px;
  height: 100%;
  justify-content: space-around;
  margin-left: 100px;
  margin-bottom: 30px;
}

.world_row article h4 {
  font-size: 1.8461538462em;
  color: #00b39b;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}
.world_row article p {
  font-size: 0.8125em;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
}
.worldtext {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.cities {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.citygrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.citygrid div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.citygrid div div button {
  background: #3d83df;
  color: #fff;
  border-style: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.cities h3 {
  font-size: 2.1428571429em;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
}

.cities p {
  margin: 1.6em 0;
  line-height: 1.7142857143;
  text-align: center;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
  text-align: center;
}
.cta {
  margin-bottom: 80px;
  text-align: center;
}
.cta h2 {
  font-size: 2.1428571429em;
  color: #333;
  margin-bottom: 0.75em;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
  text-align: center;
}

.cta button {
  background: #3d83df;
  color: #fff;
  border-style: none;
  padding: 10px 20px;
  border-radius: 5px;
}

footer {
  text-align: center;
}

footer p {
  text-align: center;
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
  color: #ababab;
  margin-bottom: 40px;
}
small {
  text-align: center;
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
  color: #ababab;
}
