* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-size: 18px;
}
.container {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  width: 280px;
}
nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #615e5e;
}
.active {
  color: #00b39b;
}

/* about */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}
.about h2 {
  font-size: 1.8rem;
  color: #00b39b;
  margin-bottom: 50px;
}
.about img {
  width: 40px;
}

.about div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.services {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
}
.services article {
  width: 33%;
  padding: 2em;

  /* height: 350px; */
  border-radius: 20px;
  color: #fff;
}
.services article h3 {
  font-size: 28px;
}
.services article p {
  font-size: 18px;
  margin-bottom: 60px;
}

.patient,
.patient select {
  background-color: #00b39b;
}

.doctor,
.doctor select {
  background-color: #3d83df;
}
.doctor,
.doctor select {
  background-color: #3d83df;
}
.clinic,
.clinic select {
  background-color: #1b2734;
}

.services article select {
  border-style: none;
  color: #fff;
  font-size: 18px;
}
.clients {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 60px 60px;
}
.clients p {
  color: #00b39b;
  font-size: 24px;
}
/* .clients article {
  width: 40px;
}
.clients div {
  width: 60%;
} */

.clients div img {
  width: 7.5rem;
}
